<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <connectionStrings>
      <add name="TvarditaEntities" connectionString="metadata=res://*/ModelTvdAcs.csdl|res://*/ModelTvdAcs.ssdl|res://*/ModelTvdAcs.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7LOT7GT;initial catalog=Tvardita;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    </connectionStrings>
</configuration>
